:root {
    --white: #fff;
    --lightGray: #e6e6e6;
    --button: #dddddd;
    --darkGray: #6d6d6d;
    --darkBlue: #4c02d6;
    --darkerBlue: #32008f;
    --black: #000;
    --bg: #d3d3d3;
}

* {
    font-family: 'DM Serif Text', serif;
}

.custom-btn-lg {
    margin-top: 10px;
    color: var(--white);
    background-color: var(--bg);
    background-color: var(--darkerBlue);
    width: 100%;
    color: var(--white);
    border-radius: 30px;
}

.custom-btn-lg:hover {
    color: var(--white);
}

.custom-bg {
    background-color: var(--lightGray);
}

.custom-header {
    background-color: var(--darkBlue);
}

.day {
    background-color: var(--bg);
}

.first-row {
    padding: 20px;
    margin: 20px 10px;
}

.form-control {
    font-size: 20px;
    border: 1px solid var(--black);
}

.form-label {
    text-align: center;
    font-size: 25px;
}

.history-btn {
    border: 1px solid var(--lightGray);
    background-color: var(--button);
    color: var(--darkGray);
    margin: 5px 0 15px 0;
    text-align: left;
    font-family: 'Schoolbell', cursive;
    font-weight: 500;
    text-transform:capitalize;
    border-radius: 0 30px 30px 0;
    min-width: 40px;
}

.history-btn:hover {
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.left-side {
    border: 1px dashed var(--darkGray);
    padding: 30px 30px 0 30px;
}

.right-panel-divider {
    width: 100%;
    margin-left: 20px;
    display: none;
}

h1 {
    color: var(--lightGray);
}

form {
    margin-bottom: 1rem;
}