:root {
    --white: #fff;
    --darkGray: #6d6d6d;
    --darkBlue: #4c02d6;
    --darkerBlue: #32008f;
}

* {
    font-family: 'DM Serif Text', serif;
}

.custom-btn-lg {
    margin-top: 10px;
    color: var(--white);
    background-color: var(--darkerBlue);
    width: 100%;
}
.custom-bg {
    background-color: rgb(241, 241, 241);
}

.custom-header {
    background-color: var(--darkBlue);
}

.first-row {
    padding: 20px;
    margin: 20px 10px;
}

.form-label {
    font-size: 25px;
}

form {
    margin-bottom: 1rem;
}

